
#copy-helper {
  display: block;
  border: 2px solid lightgray;
  width: 150px;
  border-radius: 5px;
  margin: 5px 0px;
}

#copy-helper > img {
  border-radius: 5px;
}

#copy-helper:hover {
  border: 2px solid gray;
}